.header__logo {
  width: 300px;
  margin: 47px 0px 0px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  vertical-align: middle;
}

.logo__image {
  width: 100px;
  height: 82px;
}

.logo__text {
  font-family: 'Roboto Black Italic';
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.page-main {
  position: absolute;
  top: 0;
  width: 100%;
}

.wrap {
  display: flex;
}

.layout-col-left {
  flex: 1;
  background: rgba(22, 99, 15, 0.81);
  z-index: -1;
  min-width: 330px;
  min-height: 100wh;
  width: 100%;
}

.layout-col-main {
  flex: 3;
  min-height: 100vh;
  width: 100%;
}

.creating-logo {
  float: right;
  display: flex;
  align-items: center;
  margin: 15px 97px 0px 0px;
}

.creating-logo img {
  width: 70px;
  height: 70px;
}

.creating-logo span {
  font-family: 'Roboto Bold Italic';
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  color: #000000;
}

.table-wrapper {
  min-width: 900px;
  background: #fff;
  padding: 20px 25px;
  border-radius: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table {
  font-family: 'Roboto Regular';
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #566787;
}

.table__header {
  background-color: #26D7AC;
  font-family: 'Roboto Medium';
  font-size: 20px;
  line-height: 25px;
  color: white;
}

.table__header tr th {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

.table tr td {
  border-color: #e9e9e9;
  padding: 5px 15px;
  vertical-align: middle;
}

.table__header tr th:first-child {
  width: 60px;
}

.table tr td:first-child {
  font-family: 'Roboto Medium';
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

.table tbody tr:hover {
  background: #f5f5f5;
}

.book-cover {
  width: 55px;
  height: 65px;
}

.modal-dialog-delete {
  margin-top: 200px;
}

.modal-header--delete {
  border: none;
  background-color:darkgrey;
}

.modal-title--delete {
  width: 100%;
  text-align: center;
  font-family: 'Roboto Bold';
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.modal-body--delete p {
  font-family: 'Roboto Light';
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.btn-primary--delete {
  background-color: rgba(22, 99, 15, 0.81);
  border: none;
}

.btn-secondary--delete {
  background-color: #F24B4B ;
  border: none;
}

.btn-primary--delete:hover {
  background-color: rgba(22, 99, 15, 0.81);
}

.btn-secondary--delete:hover {
  background-color:#F24B4B;
}

.modal-footer--delete {
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
  border: none;
}
