button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

/* Base */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn {
  text-transform: uppercase
}

.btn:hover {
  opacity: 0.9;
}
