.form-title {
  font-family: 'Roboto Bold Italic';
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-top: 30px;
}

.form-content {
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px auto;
  padding: 20px 20px;

  background: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.form-content__left {
  flex: 1;
  height: 100%;
  margin-right: 50px;
}

.form-content__left figure {
  width: 250px;
  height: 300px;
}

.form-content__left img {
  width: 100%;
  height: 100%;
}

.book-cover {
  font-family: 'Roboto Medium Italic';
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.form-content__right {
  flex: 2;
  padding-right: 100px;
}

.form-label--create {
  font-family: 'Roboto Medium Italic';
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.form-control--create::placeholder {
  font-family: 'Roboto Light';
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #000000;
}

.form-control--create {
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: #000000;

  font-family: 'Roboto Light';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.form-control--create:focus {
  border-width: 0 0 1px;
  border-color:cornflowerblue;
}

.form-select--create {
  margin-left: 30px;
  font-family: 'Roboto Light';
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #000000;
}

.form-select--create {
  border: 2px solid;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}
